[submodule "models/dlrm"]
	path = models/dlrm
	url = https://github.com/linqy71/dlrm.git
[submodule "models/deepfm"]
	path = models/deepfm
	url = https://github.com/linqy71/CTR_Algorithm.git
	branch = deepfm
[submodule "models/pnn"]
	path = models/pnn
	url = https://github.com/linqy71/CTR_Algorithm.git
	branch = pnn
[submodule "src/two_d_chunk"]
	path = src/two_d_chunk
	url = https://github.com/linqy71/two_d_chunk.git
